@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --dark: #3f3f44;
    --light: #dcdcdc;
    --primary: #96bb7c;
    --primary-dark: #184d47;
    --secondary: #eebb4d;
    --font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
}

header {
    width: 100%;
    min-height: 4rem;
    flex-direction: row;
    margin: auto;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    background-color: var(--light);
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 20px !important;
    font-size: 18px;
    color: var(--light);
    background-color: var(--dark);
    transition: 0.2s ease-in;
}

.nav-link:hover {
    color: var(--dark);
    background-color: var(--secondary);
}

a {
    text-decoration: none;
    cursor: pointer;
}

footer {
    height: 70px;
    background-color: #54a0ff;
    width: 100%;
}

.page {
    min-height: calc(100vh - 70px);
}

.vertical-margin {
    width: 80%;
    margin: auto;
}


.text-center {
    text-align: center;
}

.btn-controls {
    padding: 20px 0px 0px 0px;
}

.btn-fill::first-letter, .btn-outline::first-letter {
    font-weight: 600;
}

.btn-wide {
    width: 25vw !important;
}

.btn-fill {
    width: 150px;
    height: 50px;
    border: 2px solid transparent;
    background: #54a0ff;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-bottom: 5px;
}

.btn-fill:hover {
    border: 2px solid #54a0ff;
    transition: ease-in-out 0.2s;
    background: white;
    color: #54a0ff;
}

.btn-outline {
    width: 150px;
    height: 50px;
    border: 2px solid #54a0ff;
    background: transparent;
    color: #54a0ff;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    margin-bottom: 5px;
}

.btn-outline:hover {
    border: 2px solid transparent;
    transition: ease-in-out 0.2s;
    background: #54a0ff;
    color: white;
}