@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

:root {
    --dark: #3f3f44;
    --light: #ffffff;
    --grey: #dcdcdc;
    --primary: #eebb4d;
    --primary-dark: #b47c02;
    --secondary: #1b6ca8;
    --font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--light);
}

/* HEADER AND NAVIGATION */

header {
    /* STICKY */
    position: sticky;
    top: 0;
    z-index: 1000;

    width: 100%;
    height: 4rem;
    /* min-height: 4rem; */
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--dark);
}

.logo-container {
    margin-left: 1rem;
}

.logo-text {
    color: var(--light);
    font-weight: 400;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    padding: 20px;
    font-size: 18px;
    color: var(--light);
    transition: 0.2s ease-in;
}

.nav-link:hover {
    /* color: var(--dark); */
    background-color: var(--primary);
}

/* FOOTER */

footer {
    height: 90px;
    background-color: var(--dark);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.copyright-wrapper {
    font-size: 0.8rem;
    color: var(--light);
    margin-right: 20px;
    text-align: right;
}

/* CONTENT */

.page {
    min-height: calc(100vh - 90px);
}

.fill-page {
    min-height: calc(100vh - 4rem);
}

.vertical-margin {
    width: 80%;
    margin: auto;
}

section.landing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to left, #0652dd, #b53471, #ea2027, #f79f1f);
    background-size: 400% 400%;
    
    animation: gradientBG 10s ease infinite;
    -webkit-animation: gradientBG 10s ease infinite;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

section.landing > h1 {
    color: var(--light);
    text-shadow: 5px 5px var(--dark);
    width: 40vw;
}

section.landing > img {
    height: 30rem;
}

section.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: var(--grey);
}

section.about > h1 {
    text-align: center;
    font-size: 4rem;
}

section.about > h2 {
    width: 50%;
    margin: auto;
    text-align: justify;
    font-weight: 400;
    font-size: 1rem;
}

section.contact {
    padding-right: 10%;
    padding-left: 10%;
    min-height: 50vh;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: var(--primary);
}

section.space-top {
    margin-top: 2rem;
}

/* CARDS */

.cards {
    display: flex;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 15rem;
    background-color: var(--grey);
    box-shadow: 5px 5px var(--dark);
    padding: 1rem;
    margin: 1rem;
    transition: 0.25s ease-in-out;
}

.card:hover {
    box-shadow: -5px -5px var(--dark);
    /* background: linear-gradient(to left, #0652dd, #b53471, #ea2027, #f79f1f); */
}

.card-secondary {
    box-shadow: 5px 5px var(--secondary);
}

.card-secondary:hover {
    box-shadow: -5px -5px var(--secondary);
}

.card-header {
    display: flex;
    align-items: center;
}

.card-icon {
    width: 3rem;
}

.card-title {
    font-size: 2.2rem;
    margin-left: 1rem;
    font-weight: 900;
}

.card-description {
    font-size: 1.2rem;
    font-weight: 400;
}

.card-link {
    margin-top: auto;
    align-self: flex-end;
    font-size: 1.1rem;
    color: var(--secondary);
    font-weight: 700;
    transition: ease-in-out 0.2s;
    padding: 5px;
    border-radius: 10px;
}

.card-link:hover {
    color: var(--light);
    background-color: var(--secondary);
}

/* TEXT */

.large-heading {
    font-size: 3.5rem;
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.reveal-btn {
    position: absolute;
    bottom: 20px;
    animation: 1s move 2;
}

/* BUTTONS */

.btn-controls {
    padding: 20px 0px 0px 0px;
}

.btn-fill::first-letter, .btn-outline::first-letter {
    font-weight: 600;
}

.btn-wide {
    width: 25vw !important;
}

.btn-fill {
    width: 150px;
    height: 50px;
    border: 2px solid transparent;
    background: #54a0ff;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-bottom: 5px;
}

.btn-fill:hover {
    border: 2px solid #54a0ff;
    transition: ease-in-out 0.2s;
    background: white;
    color: #54a0ff;
}

.btn-outline {
    width: 150px;
    height: 50px;
    border: 2px solid #54a0ff;
    background: transparent;
    color: #54a0ff;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    margin-bottom: 5px;
}

.btn-outline:hover {
    border: 2px solid transparent;
    transition: ease-in-out 0.2s;
    background: #54a0ff;
    color: white;
}

/* @ */

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes move {
    0% {
        bottom: 20px;
    }
    50% {
        bottom: 40px;
    }
    100% {
        bottom: 20px;
    }
}

@-moz-keyframes move {
    0% {
        bottom: 20px;
    }
    50% {
        bottom: 40px;
    }
    100% {
        bottom: 20px;
    }
}