@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --dark: #3f3f44;
    /* --light: #dcdcdc; */
    --light: #ffffff;
    --primary: #96bb7c;
    --primary-dark: #184d47;
    --secondary: #eebb4d;
    --font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
}

header {
    width: 100%;
    height: 4rem;
    /* min-height: 4rem; */
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--dark);
}

.logo-container {
    margin-left: 1rem;
}

.logo-text {
    color: var(--light);
    font-weight: 400;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    padding: 20px;
    font-size: 18px;
    color: var(--light);
    transition: 0.2s ease-in;
}

.nav-link:hover {
    color: var(--dark);
    background-color: var(--secondary);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--light);
}

footer {
    height: 70px;
    background-color: var(--primary);
    width: 100%;
}

.page {
    min-height: calc(100vh - 70px);
}

.fill-page {
    min-height: calc(100vh - 4rem);
}

section.landing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to left, #0652dd, #b53471, #ea2027, #f79f1f);
    background-size: 400% 400%;
    
    animation: gradientBG 10s ease infinite;
    -webkit-animation: gradientBG 10s ease infinite;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

section.landing > h1 {
    color: var(--light);
    text-shadow: 5px 5px var(--dark);
    width: 40vw;
}

section.landing > img {
    height: 30rem;
}

.vertical-margin {
    width: 80%;
    margin: auto;
}

.large-heading {
    font-size: 3.5rem;
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.reveal-btn {
    position: absolute;
    bottom: 20px;
    animation: 1s move 2;
}

.btn-controls {
    padding: 20px 0px 0px 0px;
}

.btn-fill::first-letter, .btn-outline::first-letter {
    font-weight: 600;
}

.btn-wide {
    width: 25vw !important;
}

.btn-fill {
    width: 150px;
    height: 50px;
    border: 2px solid transparent;
    background: #54a0ff;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-bottom: 5px;
}

.btn-fill:hover {
    border: 2px solid #54a0ff;
    transition: ease-in-out 0.2s;
    background: white;
    color: #54a0ff;
}

.btn-outline {
    width: 150px;
    height: 50px;
    border: 2px solid #54a0ff;
    background: transparent;
    color: #54a0ff;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    margin-bottom: 5px;
}

.btn-outline:hover {
    border: 2px solid transparent;
    transition: ease-in-out 0.2s;
    background: #54a0ff;
    color: white;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes move {
    0% {
        bottom: 20px;
    }
    50% {
        bottom: 40px;
    }
    100% {
        bottom: 20px;
    }
}

@-moz-keyframes move {
    0% {
        bottom: 20px;
    }
    50% {
        bottom: 40px;
    }
    100% {
        bottom: 20px;
    }
}